/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --nav-background-color: 255, 255, 255;

    --ifm-font-family-monospace: "Fira Mono", sans-serif;
    --ifm-font-family-base: "Readex Pro", monospace;
    --ifm-background-color: transparent;
    --ifm-background-surface-color: #fef7fa;
    --ifm-footer-background-color: #fef7fa;
    --ifm-code-background: #fef7fa;
    --ifm-navbar-shadow: none;
    --ifm-color-primary: #ac1b55;
    --ifm-color-primary-dark: #9b184c;
    --ifm-color-primary-darker: #921748;
    --ifm-color-primary-darkest: #78133b;
    --ifm-color-primary-light: #bd1e5d;
    --ifm-color-primary-lighter: #c61f62;
    --ifm-color-primary-lightest: #dd266f;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme="dark"] {
    --nav-background-color: 19, 12, 15;
    --ifm-background-color: #130c0f;
    --ifm-background-surface-color: #0f0a0c;
    --ifm-footer-background-color: #0f0a0c;
    --ifm-code-background: #1c1216;
    --ifm-color-primary: #ff6bc1;
    --ifm-color-primary-dark: #ff47b2;
    --ifm-color-primary-darker: #ff35aa;
    --ifm-color-primary-darkest: #fd0093;
    --ifm-color-primary-light: #ff8fd0;
    --ifm-color-primary-lighter: #ffa1d8;
    --ifm-color-primary-lightest: #ffd8ee;
}

.gradient-background {
    color: white;
    background: linear-gradient(322deg, #7421e6, #b21452);
    background-size: 200% 200%;

    -webkit-animation: hero-animation 30s ease infinite;
    -moz-animation: hero-animation 30s ease infinite;
    animation: hero-animation 30s ease infinite;
}

@-webkit-keyframes hero-animation {
    0% {
        background-position: 0% 26%
    }
    50% {
        background-position: 100% 75%
    }
    100% {
        background-position: 0% 26%
    }
}

@-moz-keyframes hero-animation {
    0% {
        background-position: 0% 26%
    }
    50% {
        background-position: 100% 75%
    }
    100% {
        background-position: 0% 26%
    }
}

@keyframes hero-animation {
    0% {
        background-position: 0% 26%
    }
    50% {
        background-position: 100% 75%
    }
    100% {
        background-position: 0% 26%
    }
}

div[class^="language-"] {
    --prism-background-color: var(--ifm-code-background) !important;
}

aside, .table-of-contents__left-border {
    border: none !important;
}

.navbar {
    background-color: transparent;
}

.navbar:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    background-color: rgba(var(--nav-background-color), 0.6);
}

.navbar .navbar__inner {
    z-index: 1;
}

.navbar .navbar-sidebar {
    z-index: 2;
}

.chip {
    position: relative;
    padding: 4px 6px;
    border-radius: 8px;
    font-weight: bold;
    margin-right: 4px;
}

.chip::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: currentColor;
    opacity: 0.2;
    border-radius: inherit;
}

.chip.chip--primary {
    color: var(--ifm-color-primary);
}

.chip.chip--success {
    color: var(--ifm-color-success-darkest);
}

.chip.chip--info {
    color: var(--ifm-color-info-darkest);
}

.chip.chip--danger {
    color: var(--ifm-color-danger-darkest);
}
